.block{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1vw;
}
.row{
  flex-direction: column;
}
.seat{
  display: flex;
  padding: 2vw;
  background: #000;
  color: #fff;
  float: left;
  flex: 1;
}
.airplane{}
.block_wrapper{
  display: flex;
  /* width: 990px; */
  background: #f8f8f8;
  align-content: center;
  margin: 0 auto
}
