.block{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1vw;
}
.row{
  flex-direction: column;
  min-width: 12vw;
  margin: 0 auto;
}
.seat{
  display: flex;
  background: #000;
  color: #fff;
  float: left;
  width: 4vw;
  padding: 0.3vw;
  height: 4vw;
  flex: 1 1;
  border: solid 1px;
}
body{
  background: #f8f8f8;

}
.block_wrapper{
  display: flex;
  align-content: center;
  margin: 10px auto;
}
.passenger_no{
  width: 25vw;
  margin: 10px auto;
  display: block;
}
.airplane{
  width: 100%
}